
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aahar | Profile</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
  <header>
    <div class="logo">Food <b style="color: #06C167;">Donate</b></div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
          {% if session["user_id"] %}
            <li><a href="/profile" >Profile</a></li>
            <!-- <li><a href="/donate" >DOnate/</a></li> -->
            <li><a href="/logout" >Log Out</a></li>
          {% endif %}
          {% if not session["user_id"] %}
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about" >About</a></li>
          <li><a href="/contact" >Contact</a></li>
          <li><a href="/login" >Login</a></li>
          <li><a href="/signup" >Signup</a></li>
          {% endif %}

        </ul>
    </nav>
</header>
    <script>
        hamburger=document.querySelector(".hamburger");
        hamburger.onclick =function(){
            navBar=document.querySelector(".nav-bar");
            navBar.classList.toggle("active");
        }
    </script>
  
    
    



    <div class="profile">

        <div class="profilebox" >
          
            <p class="heading" style="text-align: left;font-size:30px;"> 
                <!-- <style="width:40px; height: 25px; padding-right: 10px; position: relative;" >Profile</p> -->

              <br>
              <div class="info" style="padding-left:10px;">
              <p >Name  : {{ session['fname'] }}</p><br>
              <p >Email : {{ session["email"] }}</p><br>
              <p >Phone: {{ session["phone"] }}</p><br>
              
              </div>
              <br>
            
         <hr>
         <br>
         <p class="heading">Your donations</p>
         <!-- <p class="" style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Your donations</p><br> -->
   <div class="table-container">
         <!-- <p id="heading">donated</p> -->
         <div class="table-wrapper">
        <table class="table">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Item Quantity</th>
            <th>Points Earned</th>
        </tr>
        </thead>
       <tbody>

      <tbody>

        {% for value in values %}
        <tr>
              <td scope="row" style="text-align: center;">{{ value.food_name }}</td>
              <td scope="row" style="text-align: center;">{{ value.quantity }}</td>              
              <td scope="row" style="text-align: center;">{{ value.points }}</td>
                            
        </tr>
      {% endfor %}
    
        </tbody>
    </table>
         </div>
   </div>          
        </div>
    </div>
        
    <footer class="footer">
        <div class="footer-left col-md-4 col-sm-6">
          <p class="about">
            <span> About us</span>The basic concept of this project  Food Waste Management is to collect the excess/leftover  food from donors such as hotels, restaurants, marriage halls , etc and distribute to  the  needy people .
     </p>
        
        </div>
        <div class="footer-center col-md-4 col-sm-6">
          <div>
            <p><span> Contact</span> </p>
            
          </div>
          <div>
        
            <p> (+00) 0000 000 000</p>
            
          </div>
          <div>
        
            <p><a href="#"> Fooddonate@gmail.com</a></p>
          </div>
          <div class="sociallist">
            <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
            <li><a href="https://github.com/kishor-23"><i class="fa fa-github" style="font-size:50px;color: black;"></i></a></li>
           </ul>
          </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
          <h2> Food<span> Donate</span></h2>
          <p class="menu">
            <a href="/"> Home</a> |
            <a href="/about"> About</a> |
            <a href="/donate"> Donate</a> |
            <a href="/contact"> Contact</a>
          </p>
          <p class="name"> Food Donate &copy; 2023</p>
        </div>
      </footer>

    
</body>
</html>
